<div style="position: absolute; top: {{top}}px; left: {{left}}px; width: {{width}}px; height: {{height}}px; background-color: #6AF;"></div>

<div class="overlay" style="position: absolute; top: {{top}}px; left: {{left}}px; width: {{width}}px; height: {{height}}px;">
  <div class="handle tl"></div>
  <div class="handle tr"></div>
  <div class="handle bl"></div>
  <div class="handle br"></div>
</div>
