<div style="position: absolute; top: {{top}}px; left: {{left}}px; width: {{width}}px; height: {{height}}px; background-color: #069;"></div>

<div class="overlay" style="top: {{top}}px; left: {{left}}px; width: {{width}}px; height: {{height}}px;">
  {{#if selected}}
    <div class="handle tl"></div>
    <div class="handle tr"></div>
    <div class="handle bl"></div>
    <div class="handle br"></div>
  {{/if}}
</div>
