<h1>Free Transform</h1>

<h2>controller.model:</h2>
<table class="data">
  <tr>
    <th>Left</th>
    <th>Top</th>
    <th>Width</th>
    <th>Height</th>
  </tr>
  <tr>
    <td>{{model.left}}</td>
    <td>{{model.top}}</td>
    <td>{{model.width}}</td>
    <td>{{model.height}}</td>
  </tr>
</table>

<div class="canvas">
  <free-transform model={{model}}></free-transform>
</div>
